/*
<button class="accept-button">Aceitar</button>
<button class="reject-button">Rejeitar</button>
*/

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
.dropdown-menu {
  background-color: #f8f9fa;
}

.dropdown-item {
  font-size: 16px;
  color: #333;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #ffa500;
  color: #fff;
}

#navGeral {
  margin-bottom: 40px;
  background-color: #ffffff;
}

.caixaGrande {
  width: 70vw;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.textoGrande {
  color: black;
  font-size: 1.5rem;
}

.accept-button, .reject-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reject-button {
  background-color: #c93a3a;
  color: #fff;
}

.accept-button {
  background-color: #68d148;
  color: #fff; 
  right: calc(10px + 120px);
}

.accept-button:hover, .reject-button:hover {
  opacity: 0.8;
}

.botaoNavbar {
  color: #000000;
  font-size: 25px;
}

.botaoNavbar:hover {
  opacity: 0.6;
  font-size: 26px;
}

.caixaPequena {
  width: 170px;
  height: 70px;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.textoPequeno {
  color: #f0f0f0;
  font-size: 200%;
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.True:hover {
  background-color: green;
}

.False:hover {
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
